<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .titulo
            {
                color: #04315D;
                text-align: center
            }
        </style>
    </head>
    <body>
        <h1 class="titulo">{$assunto}</h1>
        <p><strong>Nome:</strong>{$nome}</p>
        <p><strong>E-mail</strong> {$email}</p>
        <p><strong>Telefone:</strong> {$telefone}</p><br>
        <p>{$msg}</p>
    </body>
</html>
